<!DOCTYPE html>
<html>
<head>
  <title>Lines: The Game</title>
  <%= stylesheet_link_tag    "application", :media => "all" %> 
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body id="game_app_body">
  <div data-role="page" id="main">
  
    <%= render 'layouts/header' %>

    <%= yield %>
  </div>
  <%= yield :new_pages %>
</body>
</html>
