<tr class="game_stats_row">
		<td>
		  <span class="blue_bold">Your Opponent(s)</span><br/>
		  	
		  <span class="game_app_label">Name:</span>
		  <span class="game_app_data"><%= @cur_fight.name %><br/></span>
		  
		  <span class="game_app_label">Type: </span>
		  <span class="game_app_data"><% agent_type = Agent.find_by_id(@cur_fight.type_id) %></br></span>
		  
		  <span class="game_app_label">Endurance: </span>
		  <span class="game_app_data"><%= @cur_fight.current_endurance %>/<%= agent_type.endurance %><br/></span>
		  
		  <span class="game_app_label">Speed: </span>
		  <span class="game_app_data"><%= agent_type.speed %><br/></span>
		  
		  <span class="game_app_label">Accuracy: </span>
		  <span class="game_app_data"><%= agent_type.accuracy %><br/></span>
		  
		  <span class="game_app_label">Evasion: </span>
		  <span class="game_app_data"><%= agent_type.evasion %><br/></span>
		</td>
</tr>

		
<tr class="game_stats_row">
		<td>
		  <span class="blue_bold">Opponents' Team</span><br/>
		  
		  <% @followers = @cur_fight.followers.all %>
		  <% @followers.each do |npc| -%>
			<% npct = FollowerType.find_by_id(npc.type_id) %>
			<span class="game_app_data">Name: </span>
			<span class="game_app_data"><%= npc.name %><br/></span>
			<span class="game_app_data">Endurance: </span>
			<span class="game_app_data"><%= npc.current_endurance %></span>
			<span class="game_app_data"> out of <%= npct.endurance %></span>
			<br/><br/>
		  <% end -%>
		</td>
</tr>

<tr class="game_stats_row">
		<td>
		  <span class="blue_bold">Opponent(s) Tools</span><br/>
		  
		  <% @guns = @cur_fight.gun_instances.all %>
		  	<% @guns.each do |guns| -%>
		  		<table class="game_app_shop_row">
					<tr>
						<td>
							<% gunstats = Gun.find_by_id(guns.type_id) %>
							<span class="game_app_data"><%= gunstats.name %> </span>
							<span class="game_app_text">causes damage of </span>
							<span class="game_app_data"><%= gunstats.damage %></span>
							<span class="game_app_text">to you and </span>
							<span class="game_app_data"><%= gunstats.space %> </span>
							<span class="game_app_text">spaces of your backpack</span>
							<br/>
						</td>
					</tr>
				</table>
		  	<% end -%>
		</td>

