<table id="game_stats_table">
	
	<tr class="game_stats_row">
		<td class="game_title">
			Lines: The Game
		</td>
	</tr>
	
	<% if @user.messages.count > 0 -%>
		<tr class="game_stats_row">
			<td>
				<span class="game_app_message_heading">Alerts</span>
				<ul>
					<% @user.messages.all.each do |mesg| -%>
						<li class="game_app_message_li">
							<span class="game_app_messages"><%= mesg.name %></span></br></br>
						</li>
  					<% end -%>
  				</ul>
  			</td>
		</tr>
	<% end -%>
	
	
	<tr class="game_stats_row">
		<td>
			<% user_loc = City.find_by_id(@user.location)%>
			<span class="game_app_location">You are in</span> <span class="game_app_data"><%= user_loc.name %></span>
		</td>
	</tr>
	
  	<% if flash[:notice] -%>
  		<tr class="game_stats_row">
			<td>
  				<div id="error" class="msgWarn">
  				<%= flash[:notice] -%></br></br>
  				</div>
  			</td>
		</tr>
	<% end -%>
	
	
	
	
	<%= render 'stats' %>
 	
 	
 	
 
	<% city = City.find_by_id(@user.location) -%>
		<% if city.bank || city.loanshark %>
			<tr class="game_stats_row">
				<td>
					<span class="blue_bold">A Bank Is Available</span></br>
			 	 	<%= form_tag("/account/banking", :method => "get") do %>
			 	 	<%= submit_tag("Go To Bank") %>
			 	</td>
			</tr>
	 	<% end -%>
	<% end -%>
	
	
   	
	<% if city.shop %>
	 	<tr class="game_stats_row">
	  		<td>
	  			<span class="blue_bold">Tools Are Available Here</span></br>
	  			<%= form_tag("/account/shop", :method => "get") do %>
				  <%= submit_tag("Shop for Tools") %>
	  			<% end -%>
	  		</td>
		</tr>
	<% end -%>
	  	
	
	
	<% if city.hospital %>
		<tr class="game_stats_row">	
	  		<td>
	  			<span class="blue_bold">First Aid Is Available</span></br>
		  		<%= form_tag("/account/hospital", :method => "get") do %>
			  		<%= submit_tag("Go to First Aid") %>
		  		<% end -%>
	  		</td>
	  	</tr>
	<% end -%>
	  		

<!-- Was another table declaration here -->
	
	<tr class="game_stats_row">
		<td>
			<span class="blue_bold">Street Items You Can Buy</span></br>


			
			<% @shops = @user.shops.all %>
				<% @shops.each do |shop| -%>
				
			
				
					<span class="game_app_shop_data"><%= shop.name %></span> <span class="game_app_text">for</span> <span class="game_app_shop_data">$<%= number_with_delimiter(shop.price) %> each</span><br/>
					<table class="game_app_shop_row">
						<tr>
							<td>
								<%= form_tag("/account/buy", :method => "get") do %>
									<%= hidden_field_tag('type_id', shop.type_id) %>
									<%= hidden_field_tag('price', shop.price) %>
									<%= hidden_field_tag('name', shop.name) %>
									<span class="game_app_shop_label"><%= label_tag(:amount, "Amount:") %></span>
			  						<%= text_field_tag(:amount, value = nil, :size=>3, :maxwidth=>3)%>
			  				
			  						<%= submit_tag("Buy") %>
  									<% end -%>
							</td>
							
						</tr>
					</table>
			<% end -%>
		</td>
	</tr>
	
	
	<tr class="game_stats_row">			
		<td>
			<span class="blue_bold">Street Items to Sell or Drop</span></br>


			
				<% @bags = @user.bags.all %>
				<% @bags.each do |bag| -%>
				
					<span class="game_app_shop_data"><%= bag.name %></span>
					
					<% if @user.shops.exists?(:type_id => bag.type_id)%>
					
					  <span class="game_app_text">at</span> <span class="game_app_shop_data">$<%= number_with_delimiter( @user.shops.find_by_type_id(bag.type_id).price )%></span></br>
					
					  <% sell_price = @user.shops.find_by_type_id(bag.type_id).price %> 
					  <% submit_name = "Sell" %>
					<% else %>
					  <span class="game_app_shop_data">$0</span>
					  <% sell_price = 0 %>
					  <% submit_name = "Drop" %>
					<% end %>
					
						</br>
						<span class="game_app_text">(Bought </span>
						<span class="game_app_shop_data"><%= number_with_delimiter(bag.amount) %></span>
						<span class="game_app_text"> at </span>
						<span class="game_app_shop_data">$<%= number_with_delimiter(bag.price) %></span>
						<span class="game_app_text">)</span><br/>
						
					<table class="game_app_shop_row">
						<tr>
							<td>
								<%= form_tag("/account/sell", :method => "get") do %>
									<%= hidden_field_tag('type_id', bag.type_id) %>
									<%= hidden_field_tag('price', sell_price ) %>
									<%= hidden_field_tag('name', bag.name) %>
									<span class="game_app_shop_label"><%= label_tag(:amount, "Amount:") %></span>
			  						<%= text_field_tag(:amount, value = nil, :size=>3, :maxwidth=>3) %>
			  				    	<%= submit_tag(submit_name) %>
  								<% end -%>
  							</td>
  						</tr>
  					</table>
  					<% end -%>
  		</td>
	</tr>
	
<!-- here -->	
	
	<tr class="game_stats_row">				
		<td>
			<span class="blue_bold">Places You Can Visit</span>
			
			<% City.all.each do |location| -%>
			
			<table class="game_app_shop_row">
				<tr>
					<td>
					  <%= form_tag("/account/travel", :method => "get") do %>
					  	<%= hidden_field_tag('location', location.id) %>
					  	<% if location.id != @user.location%>
							<%= submit_tag(location.name) %>
					  	<% else %>
							<%= submit_tag(location.name, :disabled => true) %>
					  	<% end -%>
					  <% end -%>
					</td>
			   </tr>
			 </table>
		   <% end -%>
		</td>
	</tr>
</table>
