		<% user_loc = City.find_by_id(@user.location)%>
		<h1>You are in <%= user_loc.name %></h1>
		
		<% @user.messages.all.each do |mesg| -%>
			<h2><%= mesg.name %></h2>
  		<% end -%><br/>
  		
  		<% if flash[:notice] -%>
  			<div id="error" class="msgWarn">
  			<%= flash[:notice] -%></br></br>
  			</div>
  		<% end -%>
  		
 		<%= render 'stats' %>
 		<table id="small_table" align="center">
		<tr>
		<td>
			<% city = City.find_by_id(@user.location) -%>
			<% if city.bank || city.loanshark %>
			  	<%= form_tag("/account/banking", :method => "get") do %>
				  <%= submit_tag("Banking") %>
			  	<% end -%>
	  		<% end -%>
	  	</td>	
	  	<td>	
	  		<% if city.shop %>
			  	<%= form_tag("/account/shop", :method => "get") do %>
				  <%= submit_tag("Shop") %>
			  	<% end -%>
	  		<% end -%>
	  	</td>	
	  	<td>	
	  		<% if city.hospital %>
			  	<%= form_tag("/account/hospital", :method => "get") do %>
				  <%= submit_tag("Hospital") %>
			  	<% end -%>
	  		<% end -%>
	  	</td>
	  	</tr>
	  	</table>
		<table id="full_table" border=1>
			<tr>
				<td id="small_table"><h3>Things You Can Buy</h3></td>
				
				<td id="small_table"><h3>Things You Can Sell</h3></td>
				
				<td><h3>Places You Can Visit</h3></td>
			</tr>
			<tr>
				<td><% @shops = @user.shops.all %>
				<% @shops.each do |shop| -%>
					<%= shop.name %> for 
					$<%= number_with_delimiter(shop.price) %> each<br/>
					<table><tr><td>
					<%= form_tag("/account/buy", :method => "get") do %>
						<%= hidden_field_tag('type_id', shop.type_id) %>
						<%= hidden_field_tag('price', shop.price) %>
						<%= hidden_field_tag('name', shop.name) %>
						<%= label_tag(:amount, "Amount:") %>
  						<%= text_field_tag(:amount, value = nil, :width=>5)%></td><td>
	 					<%= submit_tag("Buy") %>
  					<% end -%>
  					</td></tr></table><div>
				<% end -%></td>
				
				<td><% @bags = @user.bags.all %>
				<% @bags.each do |bag| -%>
				<%= bag.name %>
					<% if @user.shops.exists?(:type_id => bag.type_id)%>
					  $<%= number_with_delimiter( @user.shops.find_by_type_id(bag.type_id).price )%>
					  <% sell_price = @user.shops.find_by_type_id(bag.type_id).price %> 
					  <% submit_name = "Sell" %>
					<% else %>
					  $0 
					  <% sell_price = 0 %>
					  <% submit_name = "Drop" %>
					<% end %>
					(Bought <%= number_with_delimiter(bag.amount) %> at $<%= number_with_delimiter(bag.price) %>)<br/>
					<table><tr><td>
					<%= form_tag("/account/sell", :method => "get") do %>
						<%= hidden_field_tag('type_id', bag.type_id) %>
						<%= hidden_field_tag('price', sell_price ) %>
						<%= hidden_field_tag('name', bag.name) %>
						<%= label_tag(:amount, "Amount:") %>
  						<%= text_field_tag(:amount) %></td><td>
	 					<%= submit_tag(submit_name) %>
  					<% end -%>
  					</td></tr></table><div>
				<% end -%></td>
				
				<td><% City.all.each do |location| -%>
					  <%= form_tag("/account/travel", :method => "get") do %>
					  <%= hidden_field_tag('location', location.id) %>
					  <% if location.id != @user.location%>
						<%= submit_tag(location.name) %>
					  <% else %>
						<%= submit_tag(location.name, :disabled => true) %>
					  <% end -%>
  					<% end -%><br/>
				<% end -%></td>
				
			</tr>
		</table>
