<ul data-role="listview">
	<% if @user.messages.count > 0 -%>
		<li>
		  <% @user.messages.all.each do |mesg| -%>
				<p class="game_app_message_li">
					<span class="game_app_messages"><%= mesg.name %></span>
				</p>
			<% end -%>
  	</li>
	<% end -%>
	
	
	<li class="center">
		<span class="game_app_location">You are in</span> <span class="game_app_data"><%= @user.city.name %></span>
	</li>
	
 	<% if flash[:notice] -%>
    <li>
    	<div id="error" class="msgWarn">
  			<%= flash[:notice] -%></br></br>
  		</div>
  	</li>
	<% end -%>
	
	<li class="center">
	   <span class="game_app_label">In pocket:</span>			<span class="game_app_data"> $ <%= number_with_delimiter(@user.wallet) %></span> 
		  <span class="game_app_label">In bank:</span>				<span class="game_app_data"> $ <%= number_with_delimiter(@user.bank.savings_account) %></span><br/>
		  <span class="game_app_label">Loans owed:</span>			<span class="game_app_data"> $ <%= number_with_delimiter(@user.bank.loan_amount) %></span><br/>
		  <span class="game_app_label">Trip days left:</span>		<span class="game_app_data"> <%= @user.days_remaining %></span>
	</li>
</ul>

<ul data-role="listview" data-inset="true">
	<li><a href="#">User Stats</a></li>
 	<% if @user.city.bank || @user.city.loanshark %>
 	  <li><a href="/account/banking">Go to the Bank</a></li>
 	<% end %>
 	<% if @user.city.shop %>
 	  <li><a href="/account/shop">Buy Tools</a></li>
 	<% end %>
 	<% if @user.city.hospital %>
 	  <li><a href="/account/hospital">First Aid</a></li>
 	<% end %>
 	<li><a href="#buy">Buy Items</a></li>
 	<li><a href="#">Sell Items</a></li>
 	<li><a href="#travel">Visit a New Location</a></li>
</ul> 	


<% content_for :new_pages do %>
 	<%= render 'stats' %>

  <%= render 'buy_items' %>
	
	
	<tr class="game_stats_row">			
		<td>
			<span class="blue_bold">Street Items to Sell or Drop</span></br>


			
				<% @bags = @user.bags.all %>
				<% @bags.each do |bag| -%>
				
					<span class="game_app_shop_data"><%= bag.name %></span>
					
					<% if @user.shops.exists?(:type_id => bag.type_id)%>
					
					  <span class="game_app_text">at</span> <span class="game_app_shop_data">$<%= number_with_delimiter( @user.shops.find_by_type_id(bag.type_id).price )%></span></br>
					
					  <% sell_price = @user.shops.find_by_type_id(bag.type_id).price %> 
					  <% submit_name = "Sell" %>
					<% else %>
					  <span class="game_app_shop_data">$0</span>
					  <% sell_price = 0 %>
					  <% submit_name = "Drop" %>
					<% end %>
					
						</br>
						<span class="game_app_text">(Bought </span>
						<span class="game_app_shop_data"><%= number_with_delimiter(bag.amount) %></span>
						<span class="game_app_text"> at </span>
						<span class="game_app_shop_data">$<%= number_with_delimiter(bag.price) %></span>
						<span class="game_app_text">)</span><br/>
						
					<table class="game_app_shop_row">
						<tr>
							<td>
								<%= form_tag("/account/sell", :method => "get") do %>
									<%= hidden_field_tag('type_id', bag.type_id) %>
									<%= hidden_field_tag('price', sell_price ) %>
									<%= hidden_field_tag('name', bag.name) %>
									<span class="game_app_shop_label"><%= label_tag(:amount, "Amount:") %></span>
			  						<%= text_field_tag(:amount, value = nil, :size=>3, :maxwidth=>3) %>
			  				    	<%= submit_tag(submit_name) %>
  								<% end -%>
  							</td>
  						</tr>
  					</table>
  					<% end -%>
  		</td>
	</tr>
	
<!-- here -->	
	
	<div data-role="page" id="travel">				
		<%= render 'layouts/header', :back => true, :title => "Places to Travel" %>
    <ul data-role="listview">
		  <% City.all.each do |location| -%>
		    <li>
		      <% if location.id != @user.city.id %>
  				  <%= link_to location.name, "/account/travel?location=#{location.id}", :rel => "external" %>
  				<% else %>
  				  Currently at <%= location.name %>
  				<% end %>
				</li>
	    <% end -%>
	  </ul>
	</div>
<% end %>
