<div data-role="content">
  <% if @user.nil? %>
    <ul data-role="listview">
      <li><%= link_to "Login", "account/login", :controller => 'account' %></li>
		  <li><%= link_to "Register", "account/registration", :controller => 'account' %></li>
    </ul>
  <% else %>  
    <% if @user.bank.nil? || @user.end_of_turn %>
      <ul data-role="listview">
        <li>
					<span class="game_app_message_heading">Game Over</span>
				</li>
			  <li>
					<%= link_to "New Game", "/account?new_game=true", :controller => 'account' %>
				</li>
				<li>
					<span class="blue_bold">High Scores</span></br>
				  <% @scores = HighScore.find( :all, :order => "score DESC", :limit => 5 ) %>
				  <ul>
				    <% @scores.each do |score_list| -%>
						  <li><strong><%= score_list.name %></strong> $<%= number_with_delimiter(score_list.score) %></li>
			 	    <% end -%>
			 	  </ul>
				</li>
			</ul>
    <% elsif @user.days_remaining < 0 %>
      <ul data-role="listview">
				<li>
					<span class="game_app_message_heading">You have completed your visit!</span></br>
				</li>
			  <% score = @user.wallet + @user.bank.savings_account - @user.bank.loan_amount %>
				<li>
					<span class="game_app_messages">You had $<%= number_with_delimiter(score) %>.</span>
				
						<% HighScore.create(:name => @user.username, :score => score, :alive => @user.free) %>
						<% @user.end_of_turn = true %>
						<% @user.save %>
					 	<%= form_tag('/account/index', :method => :get, :controller => 'account' ) do %>
							<%= submit_tag 'Done' %>
						<% end %>
				</li>
			</ul>
		<% elsif @user.current_endurance < 1 %>
			
			<ul data-role="listview">
				<li>
					<span class="game_app_message_heading">You have been asked to leave the park.</span></br>
				</li>
			  <% score = @user.wallet + @user.bank.savings_account - @user.bank.loan_amount %>
				<li>
					<span class="game_app_messages">You had $<%= number_with_delimiter(score) %>.</span>
			
					<% HighScore.create(:name => @user.username, :score => score, :alive => @user.free) %>
					<% @user.end_of_turn = true %>
					<% @user.save %>
				 	<%= form_tag('/account/index', :method => :get, :controller => 'account' ) do %>
						<%= submit_tag 'Done' %>
					<% end %>
			
				</li>
			</ul>
		<% else %>
			<% if @user.encounter.nil? %>
				<% if @user.event.nil? %>
		 			<%= render 'main' %></br>	 			
	 			<% else %>
		 			<%= render 'event' %></br>
		 		<% end %>
	 		<% else %>
	 			<%= render 'combat' %></br>
	 		<% end %>
	
    <% end %>
  <% end %>
</div>
