<html>
<head>
</head>

<body>

<table id="game_stats_table">
	
	<tr class="game_stats_row">
		<td class="game_title">
			Lines: The Game
		</td>
	</tr>
 
	<% if session[:user_id] %>
			<% if session[:user_id] %>
		
	   		 <tr class="game_stats_row">
				<td>
					<% user_loc = City.find_by_id(@user.location)%>
					<span class="game_app_location">You are in</span> <span class="game_app_data"><%= user_loc.name %></span></br>
					<span class="game_shop_market">*** <%= user_loc.name %> Market *** </span> </br></br>
					<%= link_to "Back to Park", "/account/"%>
				</td>
			</tr>
	    


 			<%= render 'stats' %>
 		


			<tr class="game_stats_row">
				
				<td>
				
					<span class="blue_bold">Things You Can Buy:</span>
					
					<% city = City.find_by_id(@user.location) -%>
				
					<% if city.shop %>
					  			
						<!-- this is for tools to sell -->
						
						<% @gunshop = Gun.all %>
						<% @gunshop.each do |gunshop| -%>
							
							<table class="game_app_shop_row">
								<tr>
									<td>
										<span class="game_app_shop_data"><%= gunshop.name %></span>
											
										<span class="game_app_text"></br>Costs </span>
										
										<span class="game_app_shop_data">$<%= number_with_delimiter(gunshop.price) %></span>
										
										<span class="game_app_text"> and </span>
										 
										<span class="game_app_shop_data"><%= gunshop.space %></span>
										
										<span class="game_app_text">backpack spaces.</span>
										
										<%= form_tag("/account/buy_gun", :method => "get") do %>
											<%= hidden_field_tag('id', gunshop.id) %>
						 					<%= submit_tag("Buy") %>
					  					<% end -%>
					  				
					  				</td>
					  			</tr>
	  						</table>
  						
						<% end -%>	
									
					<% end %>
				
			
			
				
					<% if city.shop %>
					
						<% if @user.gun_instances.count > 0 -%>
							<span class="blue_bold">Things You Can Sell:</span></br>
						<% end -%>
						
						<!-- this is for tools to sell -->
						<% @user.gun_instances.all.each do |gunsell| -%>
							<% gunshop = Gun.find_by_id(gunsell.type_id) %>
							
								<span class="game_app_shop_data"><%= gunshop.name %></span>
									
								<span class="game_app_text"> for </span>
								
								<span class="game_app_shop_data">$<%= number_with_delimiter(gunshop.price)%></span>
								
								<span class="game_app_text">.</br>Frees </span>
									
								<span class="game_app_shop_data"><%= gunshop.space %></span>
								
								<span class="game_app_text"> backpack spaces.</span> 
							
							
							<%= form_tag("/account/sell_gun", :method => "get") do %>
								<%= hidden_field_tag('id', gunshop.id) %>
			 					<%= submit_tag("Sell") %>
		  					<% end -%>
  									
						<% end -%>					
					
					
				<% end %>
			</tr>
			
	<% end %>
			
	<% else %>
	
		<tr>
			<td>
				<%= link_to "Login", "/account/login", :controller => 'account' %><br/>
				or <%= link_to "Register", "/account/registration", :controller => 'account' %>
			</td>
		</tr>
			
	<% end %>	

</table>

</body>
</html>